<mat-toolbar color="primary" class="header">

  <div class="left-section" [routerLink]="'/dashboard'" style="cursor: pointer;">
    <span class="title">AnswerQ</span>
  </div>

  <div class="right-section">

    <button mat-icon-button aria-label="Notifications">
      <mat-icon>notifications</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="accountMenu" aria-label="account">
      <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>{{ 'HEADER.ACCOUNT' | translate}}</span>
      </button>

      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>{{ 'HEADER.SETTINGS' | translate }}</span>
      </button>

      @if (authService.isLoggedIn()) {
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>{{ 'HEADER.LOGOUT' | translate}}</span>
        </button>
      }

    </mat-menu>

    <button mat-button [matMenuTriggerFor]="langMenu" class="lang-btn">
      <img [src]="currentLangFlag" width="30" style="margin-right: 8px;">
      <span style="color: #fff;"> {{ currentLang.toUpperCase() }} </span>
    </button>

    <mat-menu #langMenu="matMenu">
      @for (lang of languages; track $index) {
        <button mat-menu-item (click)="changeLang(lang.code)">
          <img [src]="lang.flag" width="30" style="margin-right: 8px;">
          <span> {{ lang.label }} </span>
        </button>
      }
    </mat-menu>

  </div>

</mat-toolbar>
