<div class="auth-container">
  <mat-card class="auth-card">
    <h2>{{ "CHANGE_PASSWORD.TITLE" | translate }}</h2>
    <p>{{ "CHANGE_PASSWORD.SUBTITLE" | translate }}</p>

    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'CHANGE_PASSWORD.OLD_PASSWORD' | translate }}</mat-label>
        <input matInput formControlName="oldPassword" type="password" required>
        @if (passwordForm.get('oldPassword')?.hasError('required')) {
          <mat-error>
            {{ 'CHANGE_PASSWORD.REQUIRED' | translate}}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }}</mat-label>
        <input matInput formControlName="newPassword" type="password" required minlength="6">
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')">
          {{ 'CHANGE_PASSWORD.REQUIRED' | translate }}
        </mat-error>
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('minlength')">
          {{ 'CHANGE_PASSWORD.MINLENGTH' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ 'CHANGE_PASSWORD.CONFIRM_PASSWORD' | translate }}</mat-label>
        <input matInput formControlName="confirmNewPassword" type="password" required>
        @if (passwordForm.hasError('passwordMismatch')) {
          <mat-error> {{ 'CHANGE_PASSWORD.MISMATCH' | translate}} </mat-error>
        }
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="passwordForm.invalid || isLoading">
        @if (!isLoading) {
          <ng-container>{{ 'CHANGE_PASSWORD.SUBMIT' | translate}}</ng-container>
        } @else {
          <ng-container>
            <mat-progress-spinner diameter="24" mode="indeterminate" color="accent"></mat-progress-spinner>
          </ng-container>
        }
      </button>
    </form>
  </mat-card>
</div>
